<!-- Header (Logo Area) -->
<div class="top-header">
    <div class="logo-center">
        <a href="index.html">
            <img src="./images/logo.png" class="header-logo">
        </a>
    </div>
</div>


<!-- Main Navigation Bar -->
<nav class="main-nav">
    <ul class="nav-menu">
        <li><a href="./about.html">About Us</a></li>
        <li><a href="./portfolio.html">Portfolio</a></li>
        <li><a href="./licensing.html">Why Exclusive Licensing</a></li>
        <li><a href="./contact.html">Contact Us</a></li>
    </ul>
</nav>

