<nav class="main-nav">

    <!-- 左侧 LOGO -->
    <a href="index.html" class="nav-logo">
        <img src="./images/logo.png" class="header-logo">
    </a>

    <!-- 右侧菜单 -->
    <ul class="nav-menu">
        <li><a href="./about.html">About Us</a></li>
        <li><a href="./portfolio.html">Portfolio</a></li>
        <li><a href="./licensing.html">Why Exclusive Licensing</a></li>
        <li><a href="./contact.html">Contact Us</a></li>
    </ul>

    <!-- 右侧汉堡按钮（小屏幕） -->
    <div class="hamburger">☰</div>

</nav>
